[submodule "_estimates"]
	path = _estimates
	url = https://github.com/epiforecasts/covid-rt-estimates.git
	
[submodule "covid-rt-estimates"]
	path = covid-rt-estimates
	url = https://github.com/epiforecasts/covid-rt-estimates
